.App {
  text-align: center;
}
/* Nav */

.logo {
  width: 30%;
}
.nav {
  width: 30%;
  display: flex;
  justify-content: space-around;
  padding: 2%;
}
.myNav {
  display: flex;
  justify-content: space-around;
}
.link {
  text-decoration: none;
  color: black;
}

.line {
  margin-left: 5%;
  width: 90%;
  height: 1px;
  border-top: black 1px solid;
}

/* Cards Home page */
.boxes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  width: 25%;
  height: 60vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#card1 {
  background-color: #e4e7e8;
}
#card2 {
  background-color: #b1cbce;
}
#card3 {
  background-color: #e4e7e8;
}
.names {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
